body {
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    height: 100vh;
    background-position: 50% 50%;
    background-size: cover;
}
button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #827717;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  asa
  h2 {
      color: green;
  }
